<p>Welcome to Trivia Web !</p>
<label for="playerName">Player Name</label>
<input type="text" id="playerName" required minlength="1" maxlength="100" size="20" [(ngModel)]="playerName" />
<br>
<app-create-game [playerName]="playerName" (newGameEvent)="addGame($event)"></app-create-game>
<table>
  <tr>
    <th>game</th>
    <th>status</th>
  </tr>
  <tr class="game" *ngFor="let game of games" [className]="game.state">
    <td class="item-name">{{game.name}}</td>
    <td class="item-status">{{game.state}}</td>
  </tr>
</table>
