<div>
  @if (!(authenticationService.isLoggedIn$ | async)) {
    <h1 style="text-align: center">Select an sign-in method</h1>
    <firebase-ui
      (signInSuccessWithAuthResult)="successCallback($event)"
      (signInFailure)="errorCallback($event)"
      (uiShown)="uiShownCallback()"
    />
  } @else {
    <h1 style="text-align: center">You are already signed-in</h1>
    <button
      style="display: block; margin: auto"
      (click)="router.navigate(['/games'])"
    >back to games
    </button>
    <button
      style="display: block; margin: auto"
      (click)="authenticationService.logout()"
    >Logout
    </button>
  }
  {{ checkRender() }}
</div>
