<ng-container *ngIf="(userService.getUser() | async) as user">
  <app-rename-user></app-rename-user>
  <br>
  <div style="display: flex; justify-content: flex-end; padding-top:0.5rem; padding-bottom:0.5rem">
    <app-create-game [user]="user"/>
  </div>
  <ng-container *ngIf="(gameService.getGames() | async) as games">
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>creator</th>
        <th>players</th>
        <th>status</th>
        <th>join</th>
        <th>start</th>
        <th>go to</th>
        <th>delete</th>
      </tr>
      <tr [ngClass]="'game-row'" *ngFor="let game of games; trackBy: trackByFn">
        <td class="id">{{ game.id }}</td>
        <td class="name">
          <a
            [attr.data-testid]="'game-details-'+game.id"
            [routerLink]="['/games',game.id,'details']"
          >
            {{ game.name }}
          </a>
        </td>
        <td class="creator-name">{{ game.creator.name }}</td>
        <td class="players-names">{{ game.players | objectAttribute: 'name' }}</td>
        <td class="state">{{ game.state }}</td>
        <td class="join">
          <app-join-game-button [gameId]="game.id"
                                [user]="user"
                                [canJoin]="game.canJoin(user)"
                                [isPlayerInGame]="game.isPlayer(user)"
                                [isGameStarted]="game.isStarted()"/>
        </td>
        <td class="start">
          <app-start-game-button [gameId]="game.id" [userId]="user.id" [canStart]="game.canStart(user)"/>
        </td>
        <td class="goto">
          <app-goto-game-button [gameId]="game.id" [userId]="user.id" [canGoto]="game.canGoto(user)"/>
        </td>
        <td class="delete">
          <app-delete-game-button [gameId]="game.id" [userId]="user.id" [canDelete]="game.canDelete(user)"/>
        </td>
      </tr>
    </table>
  </ng-container>
</ng-container>

<ng-template #tpl>
  <div>template</div>
</ng-template>
{{ checkRender() }}
