<app-navbar></app-navbar>
<ng-container *ngIf="(user$ | async) as user">
  <label for="playerName">Player Name</label>
  <input
    type="text"
    id="playerName" required minlength="1" maxlength="100" size="20"
    #newUserName
    [value]="user.name"
    (keyup.enter)="updateName(newUserName.value)"
  />
  <button (click)="updateName(newUserName.value)">ok</button>
</ng-container>
<br>
<app-create-game></app-create-game>
<!--<table>-->
<!--  <tr>-->
<!--    <th>game</th>-->
<!--    <th>creator</th>-->
<!--    <th>players</th>-->
<!--    <th>status</th>-->
<!--    <th>start</th>-->
<!--    <th>join</th>-->
<!--    <th>go to</th>-->
<!--    <th>delete</th>-->
<!--  </tr>-->
<!--  <tr class="game" *ngFor="let game of games" [className]="game.state">-->
<!--    <td class="item-name"><a [routerLink]="[game.id,'details']">{{ game.name }}</a>-->
<!--    </td>-->
<!--    <td class="item-name">{{ game.creator.name }}</td>-->
<!--    <td class="players-names">{{ game.players | objectAttribute: 'name' }}</td>-->
<!--    <td class="item-status">{{ game.state }}</td>-->
<!--    <td class="game-start">-->
<!--      <app-start-game-button-->
<!--        [game]="game"-->
<!--        (gameModifiedEvent)="updateGameWith($event)"-->
<!--      />-->
<!--    </td>-->
<!--    <td class="join">-->
<!--      <app-join-game-button [game]="game"/>-->
<!--    </td>-->
<!--    <td class="goto">-->
<!--      <app-goto-game-button [game]="game"/>-->
<!--    </td>-->
<!--    <td class="delete">-->
<!--      <app-delete-game-button [gameId]="game.id" [game]="game"/>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->

<ng-container *ngIf="(this.games$ | async) as games">
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>creator</th>
      <th>players</th>
      <th>status</th>
      <th>start</th>
      <th>join</th>
      <th>go to</th>
      <th>delete</th>
    </tr>
    <tr class="game" *ngFor="let game of games" [className]="game.state">
      <td class="game-id">{{ game.id }}</td>
      <td class="item-name"><a [routerLink]="['/games',game.id,'details']">{{ game.name }}</a>
      </td>
      <td class="item-name">{{ game.creator.name }}</td>
      <td class="players-names">{{ game.players | objectAttribute: 'name' }}</td>
      <td class="item-status">{{ game.state }}</td>
      <td class="game-start">
        <app-start-game-button [game]="game" />
      </td>
      <td class="join">
        <app-join-game-button [game]="game"/>
      </td>
      <td class="goto">
        <app-goto-game-button [game]="game"/>
      </td>
      <td class="delete">
        <app-delete-game-button [gameId]="game.id" [game]="game"/>
      </td>
    </tr>
  </table>
</ng-container>
<!--<ng-container *ngIf="(this.gameService$.getGames$() | async) as games">-->
<!--  <button (click)="createRandomGame()">create</button>-->
<!--  <div *ngFor="let game of games">{{ game.id }} - {{ game.name }} - {{ game.creator.name }} - {{ game.state }}-->
<!--    - {{ game.players | objectAttribute: 'name' }}-->
<!--    <button (click)="this.gameService$.deleteGame$(game.id);">delete</button>-->
<!--    <button (click)="this.gameService$.updateGame$(game.withState(generateRandomString(5)))">update</button>-->
<!--  </div>-->
<!--</ng-container>-->
