<div
  [attr.data-testid]="'answer-question'"
>
  <h2>{{ question.questionText }}</h2>
  <button
    [attr.data-testid]="'answer-A'"
    (click)="answerQuestion(AnswerCode.A)"
  >
    A
  </button>
  <span>{{ question.availableAnswers['A'] }}</span>
  <br>
  <button
    [attr.data-testid]="'answer-B'"
    (click)="answerQuestion(AnswerCode.B)"
  >
    B
  </button>
  <span>{{ question.availableAnswers['B'] }}</span>
  <br>
  <button
    [attr.data-testid]="'answer-C'"
    (click)="answerQuestion(AnswerCode.C)"
  >
    C
  </button>
  <span>{{ question.availableAnswers['C'] }}</span>
  <br>
  <button
    [attr.data-testid]="'answer-D'"
    (click)="answerQuestion(AnswerCode.D)"
  >
    D
  </button>
  <span>{{ question.availableAnswers['D'] }}</span>

</div>

{{ checkRender() }}
