<div
  [attr.data-testid]="'answer-question'"
  *ngIf="canAnswerQuestion || false"
>
  <h2>{{ question.questionText }}</h2>
  <button
    [attr.data-testid]="'answer-A'"
    (click)="answerQuestion(game.id, player.id, AnswerCode.A)"
  >
    A
  </button>
  <span>{{ question.availableAnswers['A'] }}</span>
  <br>
  <button
    [attr.data-testid]="'answer-B'"
    (click)="answerQuestion(game.id, player.id, AnswerCode.B)"
  >
    B
  </button>
  <span>{{ question.availableAnswers['B'] }}</span>
  <br>
  <button
    [attr.data-testid]="'answer-C'"
    (click)="answerQuestion(game.id, player.id, AnswerCode.C)"
  >
    C
  </button>
  <span>{{ question.availableAnswers['C'] }}</span>
  <br>
  <button
    [attr.data-testid]="'answer-D'"
    (click)="answerQuestion(game.id, player.id, AnswerCode.D)"
  >
    D
  </button>
  <span>{{ question.availableAnswers['D'] }}</span>

  <div
    [attr.data-testid]="'backhand'"
    *ngIf="game.currentAnswer != undefined"
  >
    <hr/>

    @if (player.state == "WAITING_TO_VALIDATE_FIRST_INCORRECT_ANSWER") {
      <div
        [attr.data-testid]="'is-answer-correct'"
      >
        <h2>First Incorrect Answer. You are given a second chance</h2>
      </div>
      <p>{{ game.currentAnswer.explanations }}</p>
      <app-validation-button [gameId]="game.id" [playerId]="player.id" [buttonText]="'draw 2nd question'"/>
    } @else if (player.state == "WAITING_TO_VALIDATE_SECOND_INCORRECT_ANSWER") {
      <div
        [attr.data-testid]="'is-answer-correct'"
      >
        <h2>Second Incorrect Answer. You are sent to the penalty box.</h2>
      </div>
      <p>{{ game.currentAnswer.explanations }}</p>
      <app-validation-button [gameId]="game.id" [playerId]="player.id"/>

    } @else {
      <div
        [attr.data-testid]="'is-answer-correct'"
      >
        <h2>Correct Answer</h2>
      </div>
      <p>{{ game.currentAnswer.explanations }}</p>
      <app-validation-button [gameId]="game.id" [playerId]="player.id"/>
    }
  </div>

</div>

