<button (click)="router.navigate(['/games'])">go back</button>
<ng-container *ngIf="(game$ | async | consoleLog) as game; else waiting_for_data">
  <table>
    <!--  TODO factoriser cette table avec celle de game-list en un seul composant-->
    <tr>
      <th>id</th>
      <th>game</th>
      <th>creator</th>
      <th>players</th>
      <th>status</th>
      <th>start</th>
      <th>join</th>
      <th>go to</th>
    </tr>
    <tr  [ngClass]="'game-row'">
      <td class="id">{{ game.id }}</td>
      <td class="name">{{ game.name }}</td>
      <td class="creator-name">{{ game.creator.name }}</td>
      <td class="players-names">{{ game.players | objectAttribute: 'name' }}</td>
      <td class="state">{{ game.state }}</td>
      <td class="start">
        <app-start-game-button
          [game]="game"
        />
      </td>
      <td class="join">
        <app-join-game-button
          [game]="game"
        >
        </app-join-game-button>
      </td>
      <td class="goto">
        <app-goto-game-button [game]="game"></app-goto-game-button>
      </td>
    </tr>
  </table>
</ng-container>
<ng-template #waiting_for_data>Waiting for game data</ng-template>
