target/
.idea/
.attach_*
*.dtmp
*.bkp
e2e-tests/videos
**/.env
**/creds
**/test.html
**/test.http
backend/src/main/resources/static
**/SketchTest.java
**/toto.json
**/toto.txt
**/environment.local-docker.ts
**/environment.local-ide.ts
**/environment.local-ide-embedded.ts
**/environment.production.ts
