target/
.idea/
.attach_*
*.dtmp
*.bkp
e2e-tests/videos
e2e-tests/screenshots
**/.env
**/creds
../../../.config/JetBrains/IntelliJIdea2024.2/scratches/test.html
**/test.http
backend/src/main/resources/static
**/SketchTest.java
**/toto.json
**/toto.txt
**/environment.local-docker.ts
**/environment.local-ide.ts
**/environment.local-ide-embedded.ts
**/environment.production.ts
**/multi-run-e2e-tests.sh
