<h2 mat-dialog-title> Create a New Game </h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Game Name</mat-label>
<!--    TODO replace [(ngModel)] as it is deprecated -->
    <input [attr.data-testid]="CreateGameComponentTestIds.GAME_NAME"
           name="CreateGameComponentTestIds.GAME_NAME"
           matInput
           [(ngModel)]="currentContent.gameName"
           [value]="currentContent.gameName"
           [formControl]="gameNameControl"
    >
    @if (gameNameControl.hasError('required')){
      <mat-error>game name cannot be empty</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Join as</mat-label>
    <input [attr.data-testid]="CreateGameComponentTestIds.CREATOR_NAME"
           name="CreateGameComponentTestIds.CREATOR_NAME"
           matInput
           [(ngModel)]="currentContent.creatorName"
           [value]="currentContent.creatorName"
    >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    class="rounded"
    [attr.data-testid]="CreateGameComponentTestIds.CANCEL"
    mat-button mat-dialog-close
  >Cancel
  </button>
  <button
    class="rounded"
    [attr.data-testid]="CreateGameComponentTestIds.RESET"
    mat-button
    (click)="resetDialogContent()"
  >Reset
  </button>
  <button
    class="rounded"
    [attr.data-testid]="CreateGameComponentTestIds.VALIDATE"
    mat-raised-button color="primary"
    [disabled]="!!gameNameControl.errors"
    mat-button (click)="createGame()">Create
  </button>
</mat-dialog-actions>
