<div [attr.data-testid]="CreateGameComponentTestIds.DIALOG"></div>
<h2 mat-dialog-title> Create a New Game </h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Game Name</mat-label>
      <input [attr.data-testid]="CreateGameComponentTestIds.GAME_NAME"
             name="CreateGameComponentTestIds.GAME_NAME"
             matInput
             [(ngModel)]="currentContent.gameName"
             [value]="currentContent.gameName"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Join as</mat-label>
      <input [attr.data-testid]="CreateGameComponentTestIds.CREATOR_NAME"
             name="CreateGameComponentTestIds.CREATOR_NAME"
             matInput
             [(ngModel)]="currentContent.creatorName"
             [value]="currentContent.creatorName"
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    class="rounded"
    [attr.data-testid]="CreateGameComponentTestIds.CANCEL"
    mat-button mat-dialog-close
  >Cancel
  </button>
  <button
    class="rounded"
    [attr.data-testid]="CreateGameComponentTestIds.RESET"
    mat-button
    (click)="resetDialogContent()"
  >Reset
  </button>
  <button
    class="rounded"
    [attr.data-testid]="CreateGameComponentTestIds.VALIDATE"
    mat-raised-button color="primary"
    mat-button (click)="createGame()">Create
  </button>
</mat-dialog-actions>
