<ng-container *ngIf="(userService.getUser() | async) as user">

  <button mat-button
          class="rounded"
          [matMenuTriggerFor]="menu"
          style="color: white; font-size: 20px; letter-spacing: normal"
  >
    <mat-icon id="anonymous-icon" *ngIf="user.isAnonymous"
              style="color: white; font-size: 1.5rem;height: 1.5rem; width: 1.5rem"
              aria-label="Example icon-button with share icon">no_accounts
    </mat-icon>
    {{ user.name }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            [attr.data-testid]="'navbar-username'"
            class="rounded"
            (click)="router.navigate(['user-settings'])"
    >Settings
    </button>
    <button mat-menu-item>logout</button>
  </mat-menu>

  <app-navbar-logout-button *ngIf="(authenticationService.isLoggedIn() | async)"></app-navbar-logout-button>
</ng-container>
{{ checkRender() }}
