<p>Welcome to Trivia Web !</p>
<label for="playerName">Player Name</label>
<input type="text" id="playerName" required minlength="1" maxlength="100" size="20"
       [(ngModel)]="playerName" (ngModelChange)="syncNameToLocalStorage()"/>
<br>
<app-create-game [playerName]="playerName" (newGameEvent)="addGame($event)"></app-create-game>
<table>
  <tr>
    <th>game</th>
    <th>creator</th>
    <th>players</th>
    <th>status</th>
    <th>join</th>    <th>go to</th>
  </tr>
  <tr class="game" *ngFor="let game of games" [className]="game.state">
    <td class="item-name"><a [routerLink]="['game-details',game.id]" [state]="game" >{{ game.name }}</a>
    </td>
    <td class="item-name">{{ game.creator.name }}</td>
    <td class="players-names">{{ game.players | objectAttribute: 'name' }}</td>
    <td class="item-status">{{ game.state }}</td>
    <td class="join">
      <app-join-game-button
        [game]="game"
        (gameModifiedEvent)="updateGameWith($event)">
      </app-join-game-button>
    </td>
    <td class="goto">
      <app-goto-game-button [game]="game"></app-goto-game-button>
    </td>
  </tr>
</table>
