.example-spacer {
  flex: 1 1 auto;
}

.navbar{
  background-color: var(--primary);
  color: white;
}

#app-logo{
  cursor: pointer;
  color: white;
  font-size: 20px;
}

#anonymous-icon{
  padding-top: 10px;
  padding-right: 5px
}
