<div
  [attr.data-testid]="'game-header-section'"
  *ngIf="(game$ | async) as game; else waiting_for_data"
>
  <h1>Welcome to Game - "{{ game.name }}" {{ isGameEnded ? " - ENDED" : "" }}</h1>

  <h2 *ngIf="isGameEnded"><span *ngIf="playerWon(); then you_won else other_won"></span></h2>
  <ng-template #you_won>You won, Congratulations !</ng-template>
  <ng-template #other_won>{{ game.winner?.name }} won. Maybe next time.</ng-template>

  <button (click)="router.navigate(['games'])">go back</button>
  <br>
  <p>Turn #{{ game.turn }} <span *ngIf="!isGameEnded && game.isCurrentPlayer(player)">- <b>Your Turn !</b></span></p>
  <p>you are - "{{ player.name }}". Coin count: {{ player.coinCount }}</p>
  <p>Current Player - "{{ game.currentPlayer.name }}"</p>
  <div
    *ngIf="game.isCurrentPlayer(player)"
    [attr.data-testid]="'player-action-section'"
  >
    <hr>
    <app-roll-dice [game]="game" [player]="player"></app-roll-dice>
    <app-answer-question
      [player]="player"
      [game]="game"
      [question]="game.currentQuestion!"></app-answer-question>
    <hr>
  </div>
</div>

<ng-template #waiting_for_data>Waiting for game data</ng-template>


<div
  [attr.data-testid]="'game-logs-section'"
  *ngIf="(gameLogs$ | async) as logs"
>
  <div id="messagesContainer" style="overflow-y: scroll; height:100px;">
    <!--    TODO introduire un style différent pour distinguer les logs des différents joueurs-->
    <div *ngFor="let log of logs">{{ log.value }}</div>
  </div>
</div>
